
@media screen and (max-width:890px){
    header{
        flex-direction: column;
    }
    main section.hero {
        flex-direction: column;
        align-items: center;
        
    }
    main section.hero img{
    width: 80%;
    }
}


@media screen  and (max-width:580px){
    nav {
        font-size: small;

    }}
@media screen and (max-width:440px){
header nav ul{
    flex-direction: column;
    justify-content: center;
}}


@media screen and (max-width:800px){
    .elementos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:auto auto;
        gap: 15px;
    }
    .segundo-item{
        grid-column:1/4;
    grid-row: 1/2;
    }
    .tercer-item{
        grid-column:1/4;
    grid-row:6/7;
    }
    .cuarto-item{
        grid-column:1/4;
    grid-row: 2/3;
    }
    .quinto-item{
        grid-column:1/3;
    grid-row: 3/4;
    }
    .primer-item{
        grid-column:1/4;
    grid-row: 5/6;
    }
    }

    
@media screen and (max-width:960px){
    .villain {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:auto auto;
        gap: 15px;
    }
    .texto-outfits{
        grid-column:1/4;
    grid-row: 1/2;
    }
    .villain-uno{
        grid-column:1/4;
        grid-row: 4/5;
    }
    .villain-tres{
        grid-column:1/4;
        grid-row: 7/8;
    }
    .villain-cuatro{
        grid-column:1/3;
        grid-row: 6/7;
    }
    .villain-cinco{
        grid-column:1/3;
        grid-row: 8/9;
    }
    .villain-seis{
        grid-column:1/4;
        grid-row: 9/10;
    }
    }
